In [1]:
import pandas as pd
pd.options.display.max_columns = 40

#### Load data from CSV

In [2]:
df = pd.read_csv("/Users/mattrende/Documents/Coding/hockey-reference/YouTube Project/csv/in/njd_2023.csv")

team_abv = 'NJD'
season = '2023'
reg_or_playoffs = 'R'

In [3]:
df.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Team,Team.1,Team.2,Team.3,Team.4,Unnamed: 14,Opponent,Opponent.1,Opponent.2,Opponent.3,Opponent.4,Unnamed: 20,Advanced (at Even Strength),Advanced (at Even Strength).1,Advanced (at Even Strength).2,Advanced (at Even Strength).3,Advanced (at Even Strength).4,Advanced (at Even Strength).5,Advanced (at Even Strength).6,Advanced (at Even Strength).7,Advanced (at Even Strength).8,Advanced (at Even Strength).9,Advanced (at Even Strength).10
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,NaN,S,PIM,PPG,PPO,SHG,NaN,S,PIM,PPG,PPO,SHG,NaN,CF,CA,CF%,FF,FA,FF%,FOW,FOL,FO%,oZS%,PDO
1,1,2022-10-13,@,Philadelphia Flyers,2,5,L,NaN,NaN,37,8,1,3,0,NaN,25,8,1,3,0,NaN,70,31,69.3,47,24,66.2,35,25,58.3,61.0,80.9
2,2,2022-10-15,NaN,Detroit Red Wings,2,5,L,NaN,NaN,39,12,0,3,0,NaN,22,10,0,4,0,NaN,63,34,64.9,45,24,65.2,25,19,56.8,69.9,76.6

In [4]:
df = df.loc[:, :"Opponent.4"]
df.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Team,Team.1,Team.2,Team.3,Team.4,Unnamed: 14,Opponent,Opponent.1,Opponent.2,Opponent.3,Opponent.4
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,NaN,S,PIM,PPG,PPO,SHG,NaN,S,PIM,PPG,PPO,SHG
1,1,2022-10-13,@,Philadelphia Flyers,2,5,L,NaN,NaN,37,8,1,3,0,NaN,25,8,1,3,0

In [5]:
df.drop(columns=["Unnamed: 8","Unnamed: 14"],inplace=True)
df.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Team,Team.1,Team.2,Team.3,Team.4,Opponent,Opponent.1,Opponent.2,Opponent.3,Opponent.4
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,S,PIM,PPG,PPO,SHG,S,PIM,PPG,PPO,SHG
1,1,2022-10-13,@,Philadelphia Flyers,2,5,L,NaN,37,8,1,3,0,25,8,1,3,0
2,2,2022-10-15,NaN,Detroit Red Wings,2,5,L,NaN,39,12,0,3,0,22,10,0,4,0

In [6]:
df.rename(columns={'Unnamed: 0':'GP', 'Unnamed: 1':"Date", 'Unnamed: 2':"Home", 'Unnamed: 3':"Opp_Name", 'Unnamed: 4':"GF",
       'Unnamed: 5':"GA", 'Unnamed: 6':"Result", 'Unnamed: 7':"OT", 'Team':"Team_S", 'Team.1':"Team_PIM", 'Team.2':"Team_PPG",
       'Team.3':"Team_PPO", 'Team.4':"Team_SHG", 'Opponent':"Opp_S", 'Opponent.1':"Opp_PIM", 'Opponent.2':"Opp_PPG",
       'Opponent.3':"Opp_PPO", 'Opponent.4':"Opp_SHG"},inplace=True)

df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG
0,GP,Date,NaN,Opponent,GF,GA,NaN,NaN,S,PIM,PPG,PPO,SHG,S,PIM,PPG,PPO,SHG
1,1,2022-10-13,@,Philadelphia Flyers,2,5,L,NaN,37,8,1,3,0,25,8,1,3,0

In [7]:
df.drop(0,inplace=True)
df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG
1,1,2022-10-13,@,Philadelphia Flyers,2,5,L,NaN,37,8,1,3,0,25,8,1,3,0
2,2,2022-10-15,NaN,Detroit Red Wings,2,5,L,NaN,39,12,0,3,0,22,10,0,4,0

In [8]:
df.tail(10)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG
73,73,2023-03-25,NaN,Ottawa Senators,5,3,W,NaN,35,21,1,2,0,28,9,0,3,0
74,74,2023-03-27,@,New York Islanders,1,5,L,NaN,31,2,0,2,1,36,4,0,1,1
75,75,2023-03-30,NaN,New York Rangers,2,1,W,NaN,31,4,1,2,0,25,4,1,2,0
76,76,2023-04-01,@,Chicago Blackhawks,6,3,W,NaN,40,2,0,1,0,17,2,0,1,0
77,77,2023-04-02,@,Winnipeg Jets,1,6,L,NaN,32,6,1,3,0,27,6,1,3,0
78,78,2023-04-04,NaN,Pittsburgh Penguins,5,1,W,NaN,37,8,1,4,0,23,8,0,4,0
79,79,2023-04-06,NaN,Columbus Blue Jackets,8,1,W,NaN,36,24,2,3,1,17,20,0,5,0
80,80,2023-04-08,@,Boston Bruins,1,2,L,NaN,30,4,0,3,0,40,10,1,1,0
81,81,2023-04-11,NaN,Buffalo Sabres,6,2,W,NaN,30,4,0,2,0,38,4,0,2,0
82,82,2023-04-13,@,Washington Capitals,5,4,W,OT,34,11,1,2,0,31,11,0,1,0

In [9]:
df.Home = [0 if x == "@" else 1 for x in df.Home]


df.OT = [1 if x == "OT" else 0 for x in df.OT]

In [10]:
df['Team_Abv'] = team_abv
df['Season'] = reg_or_playoffs
df['Season_Year'] = season

In [11]:
df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG,Team_Abv,Season,Season_Year
1,1,2022-10-13,0,Philadelphia Flyers,2,5,L,0,37,8,1,3,0,25,8,1,3,0,NJD,R,2023
2,2,2022-10-15,1,Detroit Red Wings,2,5,L,0,39,12,0,3,0,22,10,0,4,0,NJD,R,2023

In [12]:
abv_team_names = pd.read_csv("/Users/mattrende/Documents/Coding/hockey-reference/YouTube Project/csv/in/team_abv.csv")
abv_team_names.head(3)

   ABV             Team  ID
0  ANA    Anaheim Ducks   1
1  ARI  Arizona Coyotes   2
2  BOS    Boston Bruins   3

In [13]:
df = df.merge(abv_team_names, left_on=['Team_Abv'],right_on=["ABV"], how='left')
df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG,Team_Abv,Season,Season_Year,ABV,Team,ID
0,1,2022-10-13,0,Philadelphia Flyers,2,5,L,0,37,8,1,3,0,25,8,1,3,0,NJD,R,2023,NJD,New Jersey Devils,18
1,2,2022-10-15,1,Detroit Red Wings,2,5,L,0,39,12,0,3,0,22,10,0,4,0,NJD,R,2023,NJD,New Jersey Devils,18

In [14]:
df.rename(columns={'ID':"team_id"},inplace=True)

In [15]:
df.drop(columns='ABV',inplace=True)

#### Create primary key

In [17]:
df["Key"] = df["team_id"].astype(str) + "-" + season + "-" + reg_or_playoffs + df["GP"].astype(str)

In [18]:
# Cleanup date
df['Date'] = df.Date.astype(str)
df['Date'] = df.Date.str.replace('-','')

In [19]:
df.head(2)

,GP,Date,Home,Opp_Name,GF,GA,Result,OT,Team_S,Team_PIM,Team_PPG,Team_PPO,Team_SHG,Opp_S,Opp_PIM,Opp_PPG,Opp_PPO,Opp_SHG,Team_Abv,Season,Season_Year,Team,team_id,Key
0,1,20221013,0,Philadelphia Flyers,2,5,L,0,37,8,1,3,0,25,8,1,3,0,NJD,R,2023,New Jersey Devils,18,18-2023-R1
1,2,20221015,1,Detroit Red Wings,2,5,L,0,39,12,0,3,0,22,10,0,4,0,NJD,R,2023,New Jersey Devils,18,18-2023-R2

#### Reorder Columns

In [20]:
df.columns

Index(['GP', 'Date', 'Home', 'Opp_Name', 'GF', 'GA', 'Result', 'OT', 'Team_S',
       'Team_PIM', 'Team_PPG', 'Team_PPO', 'Team_SHG', 'Opp_S', 'Opp_PIM',
       'Opp_PPG', 'Opp_PPO', 'Opp_SHG', 'Team_Abv', 'Season', 'Season_Year',
       'Team', 'team_id', 'Key'],
      dtype='object')

In [21]:
df = df[['Key','team_id','Season_Year','GP','Season','Date','Home','Opp_Name','GF','GA','Result','OT','Team_S','Team_PIM', 
    'Team_PPG', 'Team_PPO', 'Team_SHG', 'Opp_S', 'Opp_PIM', 'Opp_PPG', 'Opp_PPO', 'Opp_SHG']]

#### Export to CSV

In [22]:
df.to_csv('/Users/mattrende/Documents/Coding/hockey-reference/YouTube Project/csv/out/fact_gamelog.csv',index=False)